body{
    background-color: #222;
    color:#ee6
}

h1{
    text-align: center;
}

p{
    font-family: sans-serif;
}

h1,h2,h3{
    color: #eee;
}

strong{
     border-bottom:white;
}

.the-force{
    background-color: gray;
    font-weight: bold;
}

.light-side{
    color:#66f;
}

.dark-side{
    color:#f33
}

#og-trilogy{
    list-style-type:circle;
}

  ul:nth-of-type(2) {
    margin-left:  40px; 
  }

.ul :nth-of-type(3) :last-child{
    margin-top: 20px;
}

h1,h2,h3{
   text-transform: uppercase;
}

p:first-of-type::first-line {
  color: #efe;
}

h1:hover {
  color: red;
}

a:visited {
  color: gray;             
}

a:not([href]) {
  font-style: italic;   
  color: gray;          
  cursor: default;     
}

li:nth-child(odd) {
  background: #111;   
  color: white;       
}

li:nth-child(even) {
  background: #333;   
  color: white;
}

